@mixin radius($r:10px) {
  border-radius: $r;
}

@mixin box-shadow($type: rgba(0,0,0,0.3) 0 0 8px, $type2: '') {
  box-shadow: $type, $type2;
  -moz-box-shadow: $type, $type2;
  -webkit-box-shadow: $type, $type2;
  -ms-box-shadow: $type, $type2;
  -o-box-shadow: $type, $type2;
}

@mixin text-shadow($type) {
  text-shadow: $type;
  -webkit-text-shadow: $type;
  -moz-text-shadow: $type;
  -ms-text-shadow: $type;
}

@mixin transition($type:all,$duration:0.2s,$easing:cubic-bezier(0.635, 0.000, 0.415, 1)) {
  transition: $type $duration $easing;
  -webkit-transition: $type $duration $easing;
  -moz-transition: $type $duration $easing;
}

@mixin transform($type) {
  transform: $type;
  -webkit-transform: $type;
  -moz-transform: $type;
  -ms-transform: $type;
}

@mixin transform-origin($type) {
  transform-origin: $type;
  -moz-transform-origin: $type;
  -webkit-transform-origin: $type;
  -ms-transform-origin: $type;
}

@mixin animation($type) {
  animation: $type;
  -webkit-animation: $type;
}
@mixin keyframes($name) {
    @-webkit-keyframes $name {
        @content;
    }
    @-moz-keyframes $name { @content; }
    @-o-keyframes $name { @content; }
    @keyframes $name { @content; }
}

$color-primary: #3ac0ff !default;
$color-info: #8a73ff !default;
$color-success: #22be34 !default;
$color-danger: #d01919 !default;
$color-warning: #ff851b !default;

$alert-color-primary: #F8FFFF, #A9D5DE, #276f86 !default; // [1] Background-color, [2] border-color, [3] font color
$alert-color-info: #F1EFFF, #CBC4FC, #6435C9 !default;
$alert-color-success: #FCFFF5, #A3C293, #2c662d !default;
$alert-color-danger: #FFF6F6, #E0B4B4, #9F3A38 !default;
$alert-color-warning: #FFFAF3, #C9BA9B, #573a08 !default;

$sidebar-width: 250px !default;

$brand: primary,info,success,danger,warning;